* { 
    margin: 0em; 
}

li {
  list-style-type: none;
}

body {
  background-color: #D8E3ED;
  text-align: center;
}

header ul  {
   display:flex
}

header a {
  color:#000000;
  text-decoration:none ;
}
      
header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 1em;
}

.spacer {
    width: 112px;
}

nav img {
    width: 112px;
}

header nav {
    display: flex;
    width: 70%;
    justify-content: space-between;  
}

header nav a {
    display: block;
    width: 7rem;
}

h1 {
padding-top: 2em;
padding-bottom: 2em;

}
h2{
  padding-top: 1em;
  padding: 1em;
  background-color: #ffffff;
}
h3 {
padding-top: 1em;
padding-bottom: 1em;
}

h4{
  text-align: center;
  padding-bottom: 3em;
  padding-top: 3em;
  background-color: #ffffff;
  }


p {
padding-bottom: 3em;
padding-top: 3em;
 }


a {
background: #ffffff;
border-radius: 4em;
margin-right: 3em;
color: #000000;
text-decoration:none ;
}



body {
font-family: sans-serif;
}

.flexbox {
background-color: #ffffff;
display: flex;
padding-left: 3em;
padding-right: 6em;
justify-content: space-between;  
}




.toptekst {
  background-color: #ffffff;
  display: flex;
  padding-left: 3em;
  padding-right: 14em;
  justify-content: space-between;  
  }



.bekijk {
padding-top: 2em;
padding-bottom: 2em;
}



.welkom {
text-align: center;
padding: 1em;
background-color: #ffffff;
margin-right: 20em;
margin-left: 20em;
margin-top: 2em; 
}

.afleveringen {
background-color: #ffffff;
}

.missie {
padding-left: 25em;
padding-right: 25em;
background-color: #ffffff;
}



.zoe {
padding-left: 15em;
padding-right: 15em;
}

.mees {
padding-left: 15em;
padding-right: 15em;
}

.jarno {
padding-left: 15em;
padding-right: 15em;
}
.potcast {
background-color: #ffffff;
padding-left: 30em;
padding-right: 30em;
padding-top: 5em;
}

.witruimte {
padding-top: 10em;
}




.info {
display: flex;
justify-content: space-between;  
padding-left: 20em;
padding-right: 20em;

}

.info1 {
display: flex;
justify-content: space-between;  
padding-left: 20em;
padding-right: 20em;
}

.sociaal-media {
display: flex;  
padding-left: 20em;
padding-right: 20em;
background: #ffffff;
justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
 
  padding-bottom: 3em;
  padding-top: 3em;
}

footer ul {
  display: flex;
  gap: 100px;
 justify-content: center;
 
}

footer ul li{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer ul li h4 {
  padding: 0;
  background-color: #D8E3ED;
}

/*
Bronnen lijst
https://cmda.github.io/internetstandaarden-screencasts/videos/07-html-elementen/ 
https://cmda.github.io/internetstandaarden-screencasts/videos/01-werken-met-glitch/
https://cmda.github.io/internetstandaarden-screencasts/videos/02-web-browser/
https://cmda.github.io/internetstandaarden-screencasts/videos/03-developer-tools/
https://cmda.github.io/internetstandaarden-screencasts/videos/05-boilerplate/
https://cmda.github.io/internetstandaarden-screencasts/videos/06-mappenstructuur/
https://cmda.github.io/internetstandaarden-screencasts/videos/09-kleurcodes/
https://cmda.github.io/internetstandaarden-screencasts/videos/10-typografie/
https://cmda.github.io/internetstandaarden-screencasts/videos/11-units/
https://cmda.github.io/internetstandaarden-screencasts/videos/12-box-model/
https://cmda.github.io/internetstandaarden-screencasts/videos/13-flexbox/
https://cmda.github.io/internetstandaarden-screencasts/videos/14-pseudo-class/
https://cmda.github.io/internetstandaarden-screencasts/videos/15-transities/
https://cmda.github.io/internetstandaarden-screencasts/videos/14-pseudo-class/
https://cmda.github.io/internetstandaarden-screencasts/videos/15-transities/
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section
https://www.w3schools.com/tags/tag_button.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox
https://developer.mozilla.org/en-US/docs/Web/CSS/padding
https://developer.mozilla.org/en-US/docs/Web/CSS/margin
https://developer.mozilla.org/en-US/docs/Web/HTML/Element
https://developer.mozilla.org/en-US/docs/Web/CSS/display
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
https://developer.mozilla.org/en-US/docs/Web/CSS/border
https://developer.mozilla.org/en-US/docs/Web/CSS/display

https://thenounproject.com/icon/alcoholic-2397493/
https://thenounproject.com/icon/alcoholic-4845182/
https://thenounproject.com/icon/drink-1784935/
https://thenounproject.com/icon/drunk-man-662544/

https://thenounproject.com/icon/alcoholic-201571/
https://thenounproject.com/icon/suitcase-7331934/
https://freebiesupply.com/logos/snapchat-logo/
https://www.iconpacks.net/free-icon/black-instagram-logo-3497.html
https://www.freepik.com/icons/black-white-facebook
https://icons8.com/icons/set/youtube--black
*/













  
  
  


  
  
 
  



